/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-body: #000000;
    --bg-footer: #222222;
    --text-primary: #ffffff;
    --text-select: #4bc800;
    --button-color: #4a4a4a;
    --text-esc: #ff0003;

}
.wrapper{
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: var(--text-primary);
}
.d-flex{
    display:flex;
    flex-flow: row nowrap;
    justify-content: end;
}

.main-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    overflow:auto;
}
/* Header */
header{
    height: 50px;
}

.button{
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 2px 5px;
    margin: 8px 5px;
    
    
}
.button a{
    color: var(--text-primary);
    text-decoration: none;
}

/* Main */
main{
    height: calc(100% - 100px);
    padding: 0 100px;
}
.card {
    width: calc(100% / 7);
    padding: 8px 3px;
}
.card img{
    width: 100%;
    display: block;
}
.picture{
    position: relative;
}
.mic{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(97, 94, 94, 0.8);
}
/* Footer */
footer{
    background-color: var(--bg-footer);
    height: 50px;
}
.footer-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
}
.bot-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}